.header-component {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.email-header {
  font-weight: 900;
  margin-right: 2rem;
}

.total-header {
  font-weight: 900;
  margin-right: 2rem;
}

.currency-header {
  font-weight: 900;
}
