.form-wallet-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label-value , .label-description , .label-select-currency {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.form-value , .form-description {
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}

.select-currency , .select-method , .select-tag {
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}

.button-add-despesa {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-left: 10px;
  width: 150px;
}


/* Regras para tela menor que 768px */

@media ( max-width : 768px ) {

  .form-wallet-form {
    flex-direction: column; /* Altera a direção dos elementos para coluna */
  }

  .label-value , .label-description , .label-select-currency {
    margin-bottom: 10px; /* Adiciona margem inferior */
    width: 100%; /* Altera a largura dos elementos para 100% */
  }

  .form-value , .form-description , .select-currency , .select-method , .select-tag {
    width: 100%; /* Altera a largura dos elementos para 100% */
  }

  .button-add-despesa {
    margin-top: 10px; /* Adiciona margem superior */
    width: 100%; /* Altera a largura do botão para 100% */
  }
}

/* Regras para tela menor que 425px */

@media ( max-width : 425px ) {

  /* Regras específicas */
}

/* Regras para tela entre 425px e 768px */

@media ( min-width : 425px ) and ( max-width : 768px ) {

  /* Regras específicas */
}

/* Regras para tela entre 768px e 1024px */

@media ( min-width : 768px ) and ( max-width : 1024px ) {

  /* Regras específicas */
}

/* Regras para tela entre 1024px e 1440px */

@media ( min-width : 1024px ) and ( max-width : 1440px ) {

  /* Regras específicas */
}
